# Django
Django>=5.0,<6.0
psycopg2>=2.9.10,<3.0
djangorestframework==3.16.0
dj-database-url
Pillow>=11.1.0,<12.0
python-dotenv
django-cors-headers
drf-spectacular
django-redis

# Core ML
torch>=2.6.0,<3.0
torchvision>=0.21.0,<1.0
torchaudio>=2.6.0,<3.0
torch-geometric>=2.6.1,<3.0
pyg-lib
torch-sparse
scikit-learn>=1.6.1,<2.0
pandas>=2.2.3,<3.0
tensorboard
torchmetrics
xgboost
lightgbm

# Utils
matplotlib>=3.10.1,<4.0
tqdm>=4.67.1,<5.0
networkx>=3.4.2,<4.0
colorama
numpy>=2.2.4,<3.0
psutil>=7.0.0,<8.0
seaborn

# NLP
nltk
spacy

# Optimization & Experimentation
optuna

# Data I/O
pyarrow
fastparquet

# Testing
pytest
