{% load static %}
<!-- Footer Section -->
<footer class="section-footer border-top">
    <div class="container">
        <section class="footer-bottom border-top row">
            <!-- Company Info -->
            <div class="col-md-2">
                <p class="text-muted"> &copy; 2025 Ai Solutions </p>
            </div>

            <!-- Contact Info -->
            <div class="col-md-8 text-md-center">
                <span class="px-2">abdalrhman10x@gmail.com</span>
                <span class="px-2">+879-332-9375</span>
                <span class="px-2">Улица 123, дом Авена</span>
            </div>

            <!-- Payment Icons -->
            <div class="col-md-2 text-md-right text-muted">
                <i class="fab fa-lg fa-cc-visa"></i>
                <i class="fab fa-lg fa-cc-paypal"></i>
                <i class="fab fa-lg fa-cc-mastercard"></i>
            </div>
        </section>
    </div>
</footer>